name: Build And Package App
on:
  push:
    branches:
      - main
      - master

jobs:
  build_and_package:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Setup jdk-17
      uses: actions/setup-java@v3
      with:
        distribution: 'zulu'
        java-version: '17'
        cache: 'maven'
    - name: Build with Maven
      run: mvn clean package


